main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;

}
.btnContainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 1rem;
}
button {
    border-radius: 8px;
    height: 2rem;
    width: 2rem;
    border-radius: 20px;
    border: 1px solid black;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    color: white;
    background-color: rgb(9, 9, 9);

  }
  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  .player{
    margin-top: 4vh;
    font-size: 2rem;
    font-weight: bold;
    
  }